# Python
__pycache__/
*.egg-info/

# Virtual Environment
.venv/
.env

# IDE
.vscode/

# Benchmarks Output
benchmarks/debug/
benchmarks/results/

figures/

# Model outputs
*.musicxml
*.xml
*.mxl
*.midi
*.mid
*.wav
*.mp3
*.png
*.krn
